.main_widget .widget_box{
	width:100%;
	min-height:440px;
	background-color:#e5e5e5;
	border:none;
	padding:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-shadow:inset 0px 1px 0px #fafafa;
	-webkit-box-shadow:inset 0px 1px 0px #fafafa;
	box-shadow:inset 0px 1px 0px #fafafa;
	border-radius:10px 10px 10px 10px
}
.main_widget .widget_box .upper_textarea{
	
	min-height:420px;
	max-height:10em;
	width:100%;
	margin:0;
	padding:7px 8px 7px 8px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-color:#bbb;
	border-width:1px;
	background-color:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px #fff,inset 0px 3px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 1px 0px #fff,inset 0px 3px 4px rgba(0,0,0,0.1);
	box-shadow:0px 1px 0px #fff,inset 0px 3px 4px rgba(0,0,0,0.1);
	overflow:hidden
}

.main_widget .widget_box .upper_textarea #GingerWidget-editOriginalWrapper{

	/*display:none;*/
}

.main_widget .widget_box .upper_textarea #GingerWidget-editOriginalWrapper #GingerWidget-originalTexInput{
	width:100%;
	min-height:420px;
	font-family:arial;
	font-size:16px;
	color:#333;
	resize:none;
	outline:none;
	border:0;
	background-color:transparent;
	padding:4px 0;
	overflow-y:auto;
	max-height:8em
}

.main_widget .widget_box .upper_textarea #GingerWidget-editOriginalWrapper #GingerWidget-originalTexInput:focus{
	outline:none;border:0;
	box-shadow:none}

.main_widget .submit_btn_frame{
	width:181px;
	height:56px;
	margin:0 auto;
	background-color:#e5e5e5;
	border-radius:0 0 10px 10px;
}

.main_widget .submit_btn_frame input[type="submit"]{
	display:block;
	width:165px;
	height:48px;
	background:url(https://statics-www-ssl.gingersoftware.com/assets/widget/widget_btn_sprite.png) no-repeat 0 0;
	margin:-7px auto;
	border-radius:0;
	border:0;
	z-index:1;
	position:relative;
	text-indent:-9999px;
}
.main_widget .submit_btn_frame input[type="submit"]:hover{
	background-position:0 -48px}

.main_widget .widget_box .widget_box2{
	float:none;
	border:0;
	min-height:0px;
	max-height:10em;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin-bottom:0;
	/*margin-top: 10px;*/
}
.main_widget .widget_box .widget_box2 .WidgetResults{
	overflow:auto;
	font-size:16px;
	text-overflow:ellipsis;
	font-family:arial;
	font-size:16px;
	color:#333;
	position:relative
}

.main_widget .inputfile{
	margin-top: 30px;
}

.main_widget .inputfile #dummylabel{
	margin-bottom: 0px;
	font-size: 20px;
	color: rgb(194, 157, 157);
}

.main_widget .inputfile input[type="file"]{
	margin-top: 0px;
	font-size: 10px;
}

.title{
	text-align: center;
	font-size: 80px;
	margin-bottom: 40px;
	background-color: rgb(49, 220, 232);
	color: white;
}