<!DOCTYPE html>
<html lang="en">
<head>
	<title> </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="jquery-linedtextarea.js"></script>
	<link href="jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<div class="title" >
	QUESTION GENERATOR
</div>
<div class="container-fluid ">
	<div class="row">
	<div class="col-sm-1"> </div>
	<div class="col-sm-8">
		<div class="main_widget">
			<div class="widget_box">
				<div class="upper_textarea">
	        		<div id="GingerWidget-editOriginalWrapper">
	          			<textarea class="lined" rows="10" cols="60" name="textarea" id="GingerWidget-originalTexInput" spellcheck="false">zdsfb
	          			</textarea>
	          			<script>
						$(function() {
							$(".lined").linedtextarea(
								{selectedLine: 1}
							);
						});
						</script>
	        		</div>
	        		<!-- <div id="GingerWidget-originalHtmlText"></div> -->
	        		<!-- <textarea></textarea> -->
	        	</div>
	        	<div class="widget_box2" id="GingerWidget-innerBox">
        			<div class="WidgetResults" id="GingerWidget-correctedText"></div>
      			</div>
	      	</div>
	      	<div class="submit_btn_frame">
      				<input name="submit" type="submit" value="Ginger It!" onclick="out()" id="GingerWidget-submitButton" class="tryYourOwn" />
      				<!-- <a class="download_file widget_limit_dl" href="/download" title="English Grammar and Spell Check - Free Download" rel="		widget-get-it-now">Get it now</a> -->
    			</div>
	      	<div class = "inputfile">
	      		<label id="dummylabel"> Upload your source file</label><br>
	      		<input type="file" onchange="onChange(event)" >
	      	</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">

  		<ul class="nav nav-tabs">
    		<li class="active"><a href="">Models</a></li>
    		<li><a href="https://goo.gl/5xQ7Td"  target="_blank">Examples</a></li>
   		</ul>		

   		<div class="featureslist" id ="featurebox">
   		<div class="checkbox">
      		<label><input type="checkbox" value="">Option 1</label>
    	</div>
    	<div class="checkbox">
      		<label><input type="checkbox" value="">Option 1</label>
    	</div>
    	<div class="checkbox">
      		<label><input type="checkbox" value="">Option 1</label>
    	</div>	
    	<div class="checkbox">
      		<label><input type="checkbox" value="">Option 1</label>
    	</div>
    	<div class="checkbox">
      		<label><input type="checkbox" value="">Option 1</label>
    	</div>
    	</div>

	</div>
	</div>

<!-- 	<input type="file" name="infile" ng-model="input">
	<input type= "submit" name ="submit" value= "generate question"
	ng-click="convert(event)">
	<div class="output" ng-model="output">SD
	</div> -->
</div>
<script type="text/javascript">
function out(){
	document.getElementById("GingerWidget-innerBox").style.marginTop = "10px";
	document.getElementById("GingerWidget-innerBox").style.minHeight = "100px";
	document.getElementById("GingerWidget-innerBox").style.padding = "10px";
	document.getElementById("GingerWidget-correctedText").style.fontSize = "16px";
	document.getElementById("GingerWidget-correctedText").innerHTML = document.getElementById("GingerWidget-originalTexInput").innerHTML
}
function show(){
	document.getElementById("featurebox").style.display = "block";
}
	function onChange(event) {
  var file = event.target.files[0];
  var reader = new FileReader();
  reader.onload = function(event) {
    // The file's text will be printed here
    content = event.target.result;
    document.getElementById("GingerWidget-originalTexInput").innerHTML = content;
    console.log(content)
  };

  reader.readAsText(file);
}
</script>
</body>
</html>